<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <link rel="stylesheet" href="3rdparty/css/w3.css">
  
    
  <script src="3rdparty/js/paho-mqtt-1.1.0.js" type="text/javascript"></script>
  
  <script src="3rdparty/js/vue.js"></script>
  <script src="3rdparty/js/vue-router.js"></script>
  <script src="js/mc-vue.js"></script>
  
  
  <title>Owntracks Card Editor</title>


</head>

<body>
  <div id="app">
    <div class="w3-card " style="max-width:600px;margin-left: auto;margin-right: auto ">
    
      <div class="w3-container w3-center w3-theme-d2 w3-small">A short introduction can be found at <a href="https://github.com/avanc/owntracks-cards">https://github.com/avanc/owntracks-cards</a>.</div>    
    
      <span v-on:click="mqtt_config.show=!(mqtt_config.show)" class="w3-button">MQTT Broker: <span v-show="mqtt_config.connected==true">Connected</span><span v-show="mqtt_config.connected==false">Disconnected</span></span>
      <div v-show="mqtt_config.show">
        <label class="w3-text-gray">Host</label>
        <input class="w3-input w3-border" type="text" v-model="mqtt_config.host" placeholder="hostname">
        <label class="w3-text-gray">Port</label>
        <input class="w3-input w3-border" type="text" v-model.number="mqtt_config.port" placeholder="port">
        <label class="w3-text-gray">SSL</label>
        <input class="w3-check" type="checkbox" v-model.number="mqtt_config.ssl"><br>
        <label class="w3-text-gray">Websocket Path</label>
        <input class="w3-input w3-border" type="text" v-model="mqtt_config.path" placeholder="path">
        <label class="w3-text-gray">Owntracks Topic Prefix</label>
        <input class="w3-input w3-border" type="text" v-model="mqtt_config.topic_prefix" placeholder="topic">
        <label class="w3-text-gray">Username</label>
        <input class="w3-input w3-border" type="text" v-model="mqtt_config.username" placeholder="username">
        <label class="w3-text-gray">Password</label>
        <input class="w3-input w3-border" type="text" v-model="mqtt_config.password" placeholder="password">
        <button v-on:click="connect">Connect to server</button>
      </div>
    
      <input class="w3-input w3-border" type="text" v-model="newTopic" placeholder="owntracks/[username]/[deviceID]/info"><button v-on:click="newCard">New Card</button><br><br>
    
      <ul class="w3-ul w3-card-4">
        <card :data="card" v-for="card in cards"></card>
      <ul>
    </div>
  </div>


  <script>
  
    var cards= {}
    
    var app = new Vue({
      el: '#app',
      data: {
        newTopic: undefined,
        cards: cards,
        mqtt_config: {
          show: false,
          connected: false,
          host: "iot.eclipse.org",
          port: 443,
          ssl: true,
          path: "/mqtt",
          topic_prefix: "owntracks",
          username: "",
          password: ""
        }

      },
      methods: {
        newCard: function() {
          Vue.set(this.cards, this.newTopic, {topic:this.newTopic})
          this.newTopic=undefined;
        },
        connect: function() {
          var mqtt_config=this.mqtt_config;

          if (client) {
            client.disconnect();
          }
          mqtt_config.connected=false;
          
          client = new Paho.Client(this.mqtt_config.host, this.mqtt_config.port, this.mqtt_config.path, "");
          
          var onConnectionLost = function (responseObject) {
            console.log("onConnectionLost:"+responseObject.errorMessage);
            mqtt_config.connected=false;
          }
          client.onConnectionLost=onConnectionLost;

          var onMessageArrived=function(message) {
      //       console.log("Received: " + message.destinationName + " : " + message.payloadString);
            console.log("Received: " + message.destinationName);
            
            if (mqttWildcard(message.destinationName, mqtt_config.topic_prefix + "/+/+")) {
              var topic=message.destinationName+"/info";
              console.log("Data found");
              if (!(cards.hasOwnProperty(topic))) {
                var card = {};
                card.topic=topic;
                Vue.set(cards, topic, card);
                
              }
            }
            else if (mqttWildcard(message.destinationName, mqtt_config.topic_prefix + "/+/+/info")) {
              console.log("Card found");
            
              try {
                var card = JSON.parse(message.payloadString);
                card.topic=message.destinationName;
                Vue.set(cards, message.destinationName, card)
              } catch (e) {
                //not a valid JSON, thus using data as string
              }
            }
            else {
              console.log("Unknown topic found")
            }
          };
          client.onMessageArrived=onMessageArrived;
          
          
          
          
          
          var onSuccess = function() {
            console.log("Connected");
            mqtt_config.connected=true;
            mqtt_config.show=false;
            client.subscribe(mqtt_config.topic_prefix + "/+/+/info");
            client.subscribe(mqtt_config.topic_prefix + "/+/+");
          }



          try {
            client.connect({
              reconnect:true,
              onSuccess: onSuccess,
              userName : this.mqtt_config.username,
              password : this.mqtt_config.password,
              useSSL: this.mqtt_config.ssl
            });
          }
          catch(e) {
            console.log(e)
          }
        }
      }
    });


    var client;
  
  

    
    var mqttWildcard=function(topic, wildcard) { 
      if (topic === wildcard) {
          return true;
      } else if (wildcard === '#') {
          return true;
      }

      var t = String(topic).split('/');
      var w = String(wildcard).split('/');

      var i = 0;
      for (var lt = t.length; i < lt; i++) {
        if (w[i] === '#') {
            return true;
        } else if (w[i] === '+') {
            //OK
        } else if (w[i] !== t[i]) {
            return null;
        }
      }

      if (w[i] === '#') {
          i += 1;
      }

      return (i === w.length);
    }
    
    
  
    
  </script>
  

</body>

</html>
